<ion-content style="--background: #fff;">
  
<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      P1 Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>
 
  <p>Este app é um app feito para a prova P1 de programação mobile. Clique nos botões abaixo para ver como funciona a aplicação.</p>
  
  <ion-button color="danger" expand="full" (click)="showAlert()" [hidden]="isGeolocationAvailable">
    Alerta de GPS
  </ion-button>
  
  <div id="map"></div>
  
  <!-- Botão que chama a função showAlert() --> 
  <ion-button color="success" expand="full" (click)="showExplanation()"> 
    Como funciona o mapa?
  </ion-button> 

  <ion-button color="primary" expand="full" (click)="findRestaurant()">
    Buscar restaurantes próximos
  </ion-button>

  <p><b>OBS:</b> só é possivel conceder permissão de localização em localhost, caso tente acessar através do host externo (ip), a localização não pode ser concedida por questões de segurança http.
  <br/>Se sua localização já está ativa, também recomendo desativar e dar F5 para ver algo interessante :) </p>
  
  </ion-content> 